.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}

* {
 box-sizing: border-box;
}

html {
    font-size: 14px; 
}

body {
    font-size: 1rem;
    background-color: #F2F2F4;
    color: gray;
}

body,
h1,
h2 {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 1.2rem;
    color: #a3243b;
    border-bottom: solid 3px #a3243b;
    padding-bottom: 10px;

}
h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: left;
    color: white;
    background-color:#33AA96; 
    margin: 10px 0px;
    padding: 10px;
}

span {
    color: #f25d55;
}

.cont {
    width: 80%;
    margin: 0 auto;
    
}

header img {
    display: inline-block;
    padding: 20px 0px;
}

header ul {
    display: inline-block;
}
ul.nav li{
    display:inline-block;
    line-height: 118px;
}

ul.nav li a{
    color: #f25d55;
    font-weight: bold;
}

div.carousel-inner  img {
    width: 100%;
}


.moto {
    padding: 10px;
    /*margin: 5px;*/
}

div.white {
    padding: 10px;
    background-color: white;
}
div.moto img{
    width: 100%;
}


.social ul {
    text-align: center;
}

.social ul li {
    list-style: none;
    display: inline-block;
    margin: 35px;
    font-size: 4rem;
    color: #f77f57;
}


div.social video {
    margin-bottom: 10px;
}

footer {
    background-color: #472536;
    line-height: 1.5rem;
    padding: 20px;
    text-align: center;
}

footer ul li{
    display: inline-block;
    padding-left: 35px;
    font-size: 0.8rem;
}
footer ul li a {
    color: white;
    text-decoration: underline;
}


/*Phone size*/

    @media screen and (max-width: 767px){ 
        div.social ul li {
            display: block;
        }
        ul.nav li{
            display:block;
            line-height: 20px;
            }
        ul.nav {
            padding-bottom: 25px;
        }


        }


/*phone size end*/


